In [3]:
pip install Faker

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: Faker in c:\users\hp\appdata\roaming\python\python310\site-packages (30.3.0)
Requirement already satisfied: python-dateutil>=2.4 in c:\programdata\anaconda3\lib\site-packages (from Faker) (2.8.2)
Requirement already satisfied: typing-extensions in c:\users\hp\appdata\roaming\python\python310\site-packages (from Faker) (4.8.0)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.4->Faker) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd

In [5]:
import random

In [6]:
from faker import Faker

In [7]:
import string

In [8]:
from datetime import timedelta

In [9]:
fake = Faker()

In [10]:
df=pd.DataFrame( columns=["Date_de_Commande", "Date_de_Livresion", "ID_Produit", "Quantite", "Prix_Par_Unite","Adress_Email","Prix_Total", "Profit"])

In [11]:
data = []

In [12]:
Adress_Email= fake.email()
print(Adress_Email)
Telephone= fake.phone_number()
print(Telephone)

noahmiller@example.com
607-684-0709

In [13]:
for i in range(1000):
    Date_de_Commande = fake.date_this_year()
    Date_de_Livresion = Date_de_Commande + timedelta(days=random.randint(1, 30))
    ID_Produit = random.randint(1000, 9999)
    Quantite = random.randint(1, 20)
    Prix_Par_Unite = round(random.uniform(5, 100), 2)
    Adress_Email= fake.email()
    Prix_Total= Quantite*Prix_Par_Unite
    pourcentage = random.uniform(0.05, 0.30)
    Profit = round(Prix_Total * pourcentage, 2)  
    data.append([Date_de_Commande, Date_de_Livresion, ID_Produit, Quantite, Prix_Par_Unite, Adress_Email, Prix_Total, Profit])
df = pd.DataFrame(data, columns=["Date_de_Commande", "Date_de_Livresion", "ID_Produit", "Quantite", "Prix_Par_Unite", "Adress_Email", "Prix_Total", "Profit"])

In [14]:
df.head()

,Date_de_Commande,Date_de_Livresion,ID_Produit,Quantite,Prix_Par_Unite,Adress_Email,Prix_Total,Profit
0,2024-09-18,2024-10-17,7823,2,43.18,dunlapchristine@example.org,86.36,15.50
1,2024-08-07,2024-08-18,6460,8,54.07,ygonzalez@example.net,432.56,106.03
2,2024-09-14,2024-09-23,8454,14,97.04,reginaorr@example.net,1358.56,206.11
3,2024-05-15,2024-06-11,9825,14,65.89,fletchertonya@example.com,922.46,153.86
4,2024-10-01,2024-10-31,8993,9,98.23,woodstaylor@example.net,884.07,136.92

In [18]:
df.to_csv("Donnees_des_Commande.csv")